<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.licenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>com.schriftgestaltung.customParameter.GSFont.licenses</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>com.schriftgestaltung.customParameter.GSFont.preferredFamilyNames</key>
    <string>Surety</string>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.vendorID</key>
    <string>PYRS</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string>Light</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>idotless</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>germandbls</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>alef-hebr</string>
      <string>bet-hebr</string>
      <string>gimel-hebr</string>
      <string>dalet-hebr</string>
      <string>he-hebr</string>
      <string>vav-hebr</string>
      <string>zayin-hebr</string>
      <string>het-hebr</string>
      <string>tet-hebr</string>
      <string>yod-hebr</string>
      <string>finalkaf-hebr</string>
      <string>kaf-hebr</string>
      <string>lamed-hebr</string>
      <string>finalmem-hebr</string>
      <string>mem-hebr</string>
      <string>finalnun-hebr</string>
      <string>nun-hebr</string>
      <string>samekh-hebr</string>
      <string>ayin-hebr</string>
      <string>finalpe-hebr</string>
      <string>pe-hebr</string>
      <string>finaltsadi-hebr</string>
      <string>tsadi-hebr</string>
      <string>qof-hebr</string>
      <string>resh-hebr</string>
      <string>shin-hebr</string>
      <string>tav-hebr</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.zero</string>
      <string>space</string>
      <string>nbspace</string>
      <string>punctuationpaseq-hebr</string>
      <string>punctuationsofpasuq-hebr</string>
      <string>punctuationgeresh-hebr</string>
      <string>punctuationgershayim-hebr</string>
      <string>maqaf-hebr</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphenminus</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>lscript</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>estimated</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>newsheqelsign</string>
      <string>rublesign</string>
      <string>sterling</string>
      <string>turkishlirasign</string>
      <string>yen</string>
      <string>bulletoperator</string>
      <string>divisionslash</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequalto</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterthanorequalto</string>
      <string>lessthanorequalto</string>
      <string>plusminus</string>
      <string>almostequalto</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>infinity</string>
      <string>integral</string>
      <string>Ohmsign-grek</string>
      <string>increment</string>
      <string>naryproduct</string>
      <string>narysummation</string>
      <string>squareroot</string>
      <string>mu</string>
      <string>partialdifferential</string>
      <string>shindotcomb-hebr</string>
      <string>shevacomb-hebr</string>
      <string>hatafsegolcomb-hebr</string>
      <string>hatafpatahcomb-hebr</string>
      <string>hatafqamatscomb-hebr</string>
      <string>hiriqcomb-hebr</string>
      <string>tserecomb-hebr</string>
      <string>segolcomb-hebr</string>
      <string>patahcomb-hebr</string>
      <string>qamatscomb-hebr</string>
      <string>holamcomb-hebr</string>
      <string>holamhaserforvavcomb-hebr</string>
      <string>qubutscomb-hebr</string>
      <string>dageshormapiqcomb-hebr</string>
      <string>metegcomb-hebr</string>
      <string>rafecomb-hebr</string>
      <string>sindotcomb-hebr</string>
      <string>markupperdotcomb-hebr</string>
      <string>marklowerdotcomb-hebr</string>
      <string>qamatsqatancomb-hebr</string>
      <string>signviramacomb-tml2</string>
      <string>signanusvaracomb-tml2</string>
      <string>dieresiscomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>hungarumlautcomb</string>
      <string>ringcomb</string>
      <string>macroncomb</string>
      <string>ogonekcomb</string>
      <string>brevecomb.case</string>
      <string>ringcomb.case</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>doubleacutemod</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>dieresis.case</string>
      <string>dotaccent.case</string>
      <string>grave.case</string>
      <string>acute.case</string>
      <string>circumflex.case</string>
      <string>caron.case</string>
      <string>breve.case</string>
      <string>macron.case</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>A</key>
      <string>base</string>
      <key>Aacute</key>
      <string>base</string>
      <key>Abreve</key>
      <string>base</string>
      <key>Acircumflex</key>
      <string>base</string>
      <key>Adieresis</key>
      <string>base</string>
      <key>Agrave</key>
      <string>base</string>
      <key>Amacron</key>
      <string>base</string>
      <key>Aring</key>
      <string>base</string>
      <key>Atilde</key>
      <string>base</string>
      <key>C</key>
      <string>base</string>
      <key>Cacute</key>
      <string>base</string>
      <key>Ccaron</key>
      <string>base</string>
      <key>Cdotaccent</key>
      <string>base</string>
      <key>D</key>
      <string>base</string>
      <key>Dcaron</key>
      <string>base</string>
      <key>E</key>
      <string>base</string>
      <key>Eacute</key>
      <string>base</string>
      <key>Ecaron</key>
      <string>base</string>
      <key>Ecircumflex</key>
      <string>base</string>
      <key>Edieresis</key>
      <string>base</string>
      <key>Edotaccent</key>
      <string>base</string>
      <key>Egrave</key>
      <string>base</string>
      <key>a</key>
      <string>base</string>
      <key>aacute</key>
      <string>base</string>
      <key>abreve</key>
      <string>base</string>
      <key>acircumflex</key>
      <string>base</string>
      <key>acutecomb</key>
      <string>mark</string>
      <key>adieresis</key>
      <string>base</string>
      <key>agrave</key>
      <string>base</string>
      <key>alef-hebr</key>
      <string>base</string>
      <key>amacron</key>
      <string>base</string>
      <key>aring</key>
      <string>base</string>
      <key>atilde</key>
      <string>base</string>
      <key>ayin-hebr</key>
      <string>base</string>
      <key>bet-hebr</key>
      <string>base</string>
      <key>brevecomb.case</key>
      <string>mark</string>
      <key>c</key>
      <string>base</string>
      <key>dageshormapiqcomb-hebr</key>
      <string>mark</string>
      <key>dalet-hebr</key>
      <string>base</string>
      <key>dieresiscomb</key>
      <string>mark</string>
      <key>e</key>
      <string>base</string>
      <key>finalkaf-hebr</key>
      <string>base</string>
      <key>finalmem-hebr</key>
      <string>base</string>
      <key>finalnun-hebr</key>
      <string>base</string>
      <key>finalpe-hebr</key>
      <string>base</string>
      <key>finaltsadi-hebr</key>
      <string>base</string>
      <key>g</key>
      <string>base</string>
      <key>gimel-hebr</key>
      <string>base</string>
      <key>gravecomb</key>
      <string>mark</string>
      <key>hatafpatahcomb-hebr</key>
      <string>mark</string>
      <key>hatafqamatscomb-hebr</key>
      <string>mark</string>
      <key>hatafsegolcomb-hebr</key>
      <string>mark</string>
      <key>he-hebr</key>
      <string>base</string>
      <key>het-hebr</key>
      <string>base</string>
      <key>hiriqcomb-hebr</key>
      <string>mark</string>
      <key>holamcomb-hebr</key>
      <string>mark</string>
      <key>holamhaserforvavcomb-hebr</key>
      <string>mark</string>
      <key>hungarumlautcomb</key>
      <string>mark</string>
      <key>i</key>
      <string>base</string>
      <key>idotless</key>
      <string>base</string>
      <key>k</key>
      <string>base</string>
      <key>kaf-hebr</key>
      <string>base</string>
      <key>l</key>
      <string>base</string>
      <key>lamed-hebr</key>
      <string>base</string>
      <key>macroncomb</key>
      <string>mark</string>
      <key>maqaf-hebr</key>
      <string>base</string>
      <key>marklowerdotcomb-hebr</key>
      <string>mark</string>
      <key>markupperdotcomb-hebr</key>
      <string>mark</string>
      <key>mem-hebr</key>
      <string>base</string>
      <key>metegcomb-hebr</key>
      <string>mark</string>
      <key>nun-hebr</key>
      <string>base</string>
      <key>ogonekcomb</key>
      <string>mark</string>
      <key>patahcomb-hebr</key>
      <string>mark</string>
      <key>pe-hebr</key>
      <string>base</string>
      <key>qamatscomb-hebr</key>
      <string>mark</string>
      <key>qamatsqatancomb-hebr</key>
      <string>mark</string>
      <key>qof-hebr</key>
      <string>base</string>
      <key>qubutscomb-hebr</key>
      <string>mark</string>
      <key>rafecomb-hebr</key>
      <string>mark</string>
      <key>resh-hebr</key>
      <string>base</string>
      <key>ringcomb</key>
      <string>mark</string>
      <key>ringcomb.case</key>
      <string>mark</string>
      <key>samekh-hebr</key>
      <string>base</string>
      <key>segolcomb-hebr</key>
      <string>mark</string>
      <key>shevacomb-hebr</key>
      <string>mark</string>
      <key>shin-hebr</key>
      <string>base</string>
      <key>shindotcomb-hebr</key>
      <string>mark</string>
      <key>signanusvaracomb-tml2</key>
      <string>mark</string>
      <key>signviramacomb-tml2</key>
      <string>mark</string>
      <key>sindotcomb-hebr</key>
      <string>mark</string>
      <key>tav-hebr</key>
      <string>base</string>
      <key>tet-hebr</key>
      <string>base</string>
      <key>tsadi-hebr</key>
      <string>base</string>
      <key>tserecomb-hebr</key>
      <string>mark</string>
      <key>vav-hebr</key>
      <string>base</string>
      <key>yod-hebr</key>
      <string>base</string>
      <key>zayin-hebr</key>
      <string>base</string>
    </dict>
    <key>public.postscriptNames</key>
    <dict>
      <key>Ohmsign-grek</key>
      <string>Ohmsigngrek</string>
      <key>alef-hebr</key>
      <string>alefhebr</string>
      <key>ayin-hebr</key>
      <string>ayinhebr</string>
      <key>bet-hebr</key>
      <string>bethebr</string>
      <key>brevecomb.case</key>
      <string>uni0306.case</string>
      <key>bulletoperator</key>
      <string>uni2219</string>
      <key>dageshormapiqcomb-hebr</key>
      <string>dageshormapiqcombhebr</string>
      <key>dalet-hebr</key>
      <string>dalethebr</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>divisionslash</key>
      <string>uni2215</string>
      <key>euro</key>
      <string>Euro</string>
      <key>finalkaf-hebr</key>
      <string>finalkafhebr</string>
      <key>finalmem-hebr</key>
      <string>finalmemhebr</string>
      <key>finalnun-hebr</key>
      <string>finalnunhebr</string>
      <key>finalpe-hebr</key>
      <string>finalpehebr</string>
      <key>finaltsadi-hebr</key>
      <string>finaltsadihebr</string>
      <key>gimel-hebr</key>
      <string>gimelhebr</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hatafpatahcomb-hebr</key>
      <string>hatafpatahcombhebr</string>
      <key>hatafqamatscomb-hebr</key>
      <string>hatafqamatscombhebr</string>
      <key>hatafsegolcomb-hebr</key>
      <string>hatafsegolcombhebr</string>
      <key>he-hebr</key>
      <string>hehebr</string>
      <key>het-hebr</key>
      <string>hethebr</string>
      <key>hiriqcomb-hebr</key>
      <string>hiriqcombhebr</string>
      <key>holamcomb-hebr</key>
      <string>holamcombhebr</string>
      <key>holamhaserforvavcomb-hebr</key>
      <string>holamhaserforvavcombhebr</string>
      <key>hungarumlautcomb</key>
      <string>uni030B</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>increment</key>
      <string>uni2206</string>
      <key>kaf-hebr</key>
      <string>kafhebr</string>
      <key>lamed-hebr</key>
      <string>lamedhebr</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>maqaf-hebr</key>
      <string>maqafhebr</string>
      <key>marklowerdotcomb-hebr</key>
      <string>marklowerdotcombhebr</string>
      <key>markupperdotcomb-hebr</key>
      <string>markupperdotcombhebr</string>
      <key>mem-hebr</key>
      <string>memhebr</string>
      <key>metegcomb-hebr</key>
      <string>metegcombhebr</string>
      <key>mu</key>
      <string>uni03BC</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>newsheqelsign</key>
      <string>uni20AA</string>
      <key>nun-hebr</key>
      <string>nunhebr</string>
      <key>ogonekcomb</key>
      <string>uni0328</string>
      <key>patahcomb-hebr</key>
      <string>patahcombhebr</string>
      <key>pe-hebr</key>
      <string>pehebr</string>
      <key>punctuationgeresh-hebr</key>
      <string>punctuationgereshhebr</string>
      <key>punctuationgershayim-hebr</key>
      <string>punctuationgershayimhebr</string>
      <key>punctuationpaseq-hebr</key>
      <string>punctuationpaseqhebr</string>
      <key>punctuationsofpasuq-hebr</key>
      <string>punctuationsofpasuqhebr</string>
      <key>qamatscomb-hebr</key>
      <string>qamatscombhebr</string>
      <key>qamatsqatancomb-hebr</key>
      <string>qamatsqatancombhebr</string>
      <key>qof-hebr</key>
      <string>qofhebr</string>
      <key>qubutscomb-hebr</key>
      <string>qubutscombhebr</string>
      <key>rafecomb-hebr</key>
      <string>rafecombhebr</string>
      <key>resh-hebr</key>
      <string>reshhebr</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>samekh-hebr</key>
      <string>samekhhebr</string>
      <key>segolcomb-hebr</key>
      <string>segolcombhebr</string>
      <key>shevacomb-hebr</key>
      <string>shevacombhebr</string>
      <key>shin-hebr</key>
      <string>shinhebr</string>
      <key>shindotcomb-hebr</key>
      <string>shindotcombhebr</string>
      <key>signanusvaracomb-tml2</key>
      <string>signanusvaracombtml2</string>
      <key>signviramacomb-tml2</key>
      <string>signviramacombtml2</string>
      <key>sindotcomb-hebr</key>
      <string>sindotcombhebr</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>tav-hebr</key>
      <string>tavhebr</string>
      <key>tet-hebr</key>
      <string>tethebr</string>
      <key>tsadi-hebr</key>
      <string>tsadihebr</string>
      <key>tserecomb-hebr</key>
      <string>tserecombhebr</string>
      <key>vav-hebr</key>
      <string>vavhebr</string>
      <key>yod-hebr</key>
      <string>yodhebr</string>
      <key>zayin-hebr</key>
      <string>zayinhebr</string>
    </dict>
  </dict>
</plist>
